@font-face {
  font-family: 'Syntha Nova Black';
  src: url('./fonts/Syntha\ Nova\ Black.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outgit", sans-serif;
}

html,
boy,
#root,
.App {
  position: relative;
  min-height: 100vh;
  min-width: 100vw;
  width: 100vw;
}

.background{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./img/21334016-binario-codigo-matriz-corrente-do-binario-codigo-numeros-em-a-tela-1-zero-vetor.jpg'); /* Substitua 'caminho/para/sua/imagem.jpg' pelo caminho da sua imagem */
  background-size: cover; /* Ajuste conforme necessário: cover, contain, ou um tamanho específico */
  background-position: center; /* Centraliza a imagem de fundo */
  background-repeat: no-repeat; /* Evita a repetição da imagem de fundo */
  opacity: 0.2; /* Ajuste a opacidade conforme necessário */
  z-index: -1; /* Colocando a imagem de fundo atrás de todos os outros elementos */
}

.title{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ff3300; /* Adicionando a cor do texto */
  font-family: 'Syntha Nova Black', sans-serif; /* Usando a fonte Syntha Nova Black */
  font-size: 6em;
  text-align: center;
  text-shadow: 0 0 10px rgba(83, 83, 83, 0.5); /* Adicionando a sombra */
}

.icon {
  position: absolute;
  z-index: 4;
  left: 1%;
  width: fit-content;
  height: 44px;
  cursor: pointer;
}

.hamburguer {
  top: 50%;
  left: 10%;
  width: 30px;
  height: 6px;
  background-color: #ff3300;
  position: absolute;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

.hamburguer::before {
  top: -12px;
  content: "";
  position: absolute;
  width: 37px;
  height: 6px;
  background-color: #ff3300;
  position: absolute;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

.hamburguer::after {
  top: 12px;
  content: "";
  position: absolute;
  width: 37px;
  height: 6px;
  background-color: #ff3300;
  position: absolute;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

.list {
  display: flex;
  flex-direction: column;
  left: 1%;
  padding: 45px 0 0;
  flex-wrap: nowrap;
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
}

.list .listItens {
  padding: 25px;
  list-style: none;
}

.list .listItens li {
  margin: 20px 0px;
  cursor: pointer;
}

.list .listItens li:hover {
  font-weight: 700;
}

.icon.iconActive .hamburguer {
  background: transparent;
  box-shadow: 0 2px 5px transparent;
  /* margin: 10px; */
}

.icon.iconActive .hamburguer:after {
  top: 0;
  background: #fff;
  transform: rotate(225deg);
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}

.icon.iconActive .hamburguer:before {
  top: 0;
  background: #fff;
  transform: rotate(135deg);
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}

.menu.menuOpen{
  width: 220px;
  height: 100vh;
  background: #ff3300;
  box-shadow: 10px 0px 69px 0px rgba(0, 0, 0, 0.59);
}

.menu.menuClose{
  display: none;
  width: 0px;
}